<nz-header style="background: #fff; padding-left:15px;">
  <i class="anticon anticon-upload"></i> Upload
</nz-header>
<nz-content style="margin:24px 16px 0;">
  <div style="padding:24px; background: #fff; min-height: 360px;">

    <input type="file" id="newFile" (change)="onFileChange($event)" #fileInput>
    <button nz-button nzType="danger" (click)="clearFile()">Clear</button>
    <button nz-button nzType="primary" [nzLoading]="loading" (click)="onSubmit()">Upload</button>


    {{newIpfsHash}}
  </div>
</nz-content>