<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzCollapsedWidth]="0" [nzBreakpoint]="'lg'" style="overflow: auto; height: 100vh; position: fixed; left: 0">
    <div class="logo">
      <img src="assets/ipfs.png" height="50" alt="">
    </div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="isCollapsed?'vertical':'inline'">
      <li nz-menu-item [routerLink]="['peers']" routerLinkActive="ant-menu-item-selected" >
        <span>
          <i class="anticon anticon-bars"></i>
          <span class="nav-text">Peers</span>
        </span>
      </li>
      <li nz-menu-item>
        <span>
          <i class="anticon anticon-video-camera"></i>
          <span class="nav-text">nav 2</span>
        </span>
      </li>
      <li nz-menu-item>
        <span>
          <i class="anticon anticon-upload"></i>
          <span class="nav-text">nav 3</span>
        </span>
      </li>
      <li nz-menu-item>
        <span>
          <i class="anticon anticon-user"></i>
          <span class="nav-text">nav 4</span>
        </span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout [ngStyle]="{'margin-left': isCollapsed ? '0px' : '200px'}">
    <router-outlet></router-outlet>
  </nz-layout>
</nz-layout>