  <nz-header style="background: #fff; padding-left:15px;">
      <i class="anticon anticon-bars"></i> IPFS Peers
  </nz-header>
  <nz-content style="margin:24px 16px 0;">
    <div style="padding:24px; background: #fff; min-height: 360px;">
      <nz-list [nzDataSource]="peers | async" nzBordered nzSize="small" [nzHeader]="'Peers ('+ (peers | async).length + ')'" [nzFooter]="''" [nzRenderItem]="item">
        <ng-template #item let-item>
          <nz-list-item [@listAnimation]="listAnimation">
            <div>
              <i class="anticon anticon-swap"></i>
              <span>{{item}}</span>
            </div>
          </nz-list-item>
        </ng-template>
      </nz-list>
    </div>
  </nz-content>
