<nz-header style="background: #fff; padding-left:15px;">
  <i class="anticon anticon-github"></i> Github connector
</nz-header>
<nz-content style="margin:24px 16px 0;">
  <nz-card nzTitle="Pull Requests" [nzExtra]="extraTemplate">
    <p>Card content</p>
    <p>Card content</p>
    <p>Card content</p>
  </nz-card>
</nz-content>
<nz-content style="margin:24px 16px 0;">
  <nz-card nzTitle="Current Sprint" [nzExtra]="extraTemplate">
    <p>Card content</p>
    <p>Card content</p>
    <p>Card content</p>
  </nz-card>
</nz-content>
<nz-content style="margin:24px 16px 0;">
  <nz-card nzTitle="Issue Estimation for next sprint" [nzExtra]="extraTemplate">
    <p>Card content</p>
    <p>Card content</p>
    <p>Card content</p>
  </nz-card>
</nz-content>
<nz-content style="margin:24px 16px 0;">
  <nz-card nzTitle="Backlog" [nzExtra]="extraTemplate">
    <p>Card content</p>
    <p>Card content</p>
    <p>Card content</p>
  </nz-card>
</nz-content>